[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
furo = {ref = "main", git = "git+https://github.com/quantDP/qdp-furo"}
sphinx-notfound-page = "*"
sphinx-inline-tabs = "*"
myst-parser = "*"
sphinxext-opengraph = "*"
sphinx-copybutton = "*"
sphinx-design = "*"

[dev-packages]

[requires]
python_version = "3.10"
